body {
    background-color:#d1c7bd; 
    font-family: Arial, sans-serif;
    
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #3a2e2e;
}

p {
    text-align: center;
    width: 80%;
    margin: 0 auto 20px auto;
    color: #4a4444;
}


table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;              
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}


th {
    border: 1px solid #d1c7bd;
    padding: 12px;
    background-color: #f1dfc9;
    font-weight: bold;
    color: #4a3a3a;
    text-align: center;
}


td {
    border: 1px solid #e6dbd3;
    padding: 15px;
    vertical-align: top;
    color: #3c3c3c;
}


td img {
    width: 180px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}


footer {
    text-align: center;
    margin: 30px 0;
    color: #7a6f6f;
    font-size: 14px;
}